<div class="container">	
<h3>{{temporada.description}}</h3>	
	<div ng-show="novaPartidaHabilitada">
		<h4>Nova partida</h4>
			<form class="form-inline" name="formMatch">
			  <div class="form-group">
			    <label for="inputValor">Valor</label>
			    <input type="text" class="form-control" ng-model="partida.value" id="inputValor">
			  </div>
			  <div class="form-group">
			    <label for="inputArrecadado">Arrecadado</label>
			    <input type="text" class="form-control" ng-model="partida.income" id="inputArrecadado">
			  </div>
			  <div class="form-group">
			    <label for="data">Data</label>
			    <input type="text" class="form-control inputData"  ng-required="true"  ng-model="partida.date_match" ui-mask="99/99/9999">
			  </div>			  
			  <button type="submit" ng-click="adicionarPartida(partida, temporada.id)" ng-enabled="formMatch.$valid" class="btn btn-primary">Salvar</button>
			</form>		
	</div>
	<div ng-show="temporada.matches.length > 0">
		<h4>Partidas</h4>
		<table class="table table-striped">
			<thead>
				<th>Valor</th>
				<th>Arrecadado</th>
				<th>Data</th>
			</thead>
			<tbody>
				<tr ng-repeat="match in temporada.matches">
					<td>{{match.value | currency}}</td>
					<td>{{match.income  | currency}}</td>
					<td>{{match.date_match | date:'dd/MM/yyyy'}}</td>
					<td><input type="button" clas="btn" value="Detalhar"></td>
				</tr>
				<tr>
					<td><strong>{{getTotalValue(temporada.matches)[0] | currency}}</strong></td>
					<td><strong>{{getTotalValue(temporada.matches)[1] | currency}}</strong></td>
				</tr>
			</tbody>
		</table>	
	</div>
	<div ng-show="temporada.matches.length === 0">
		<div class="alert alert-success" role="alert">
  			<strong>:( </strong> Não há partidas cadastradas!
		</div>
	</div>


	<button type="button" ng-click="habilitaAdicionarPartida()" class="btn btn-primary">Nova Partida
	</button>
	<p>
		<div ng-show="menssagem">
			<div class="alert alert-success" role="alert">
	  			<strong> {{menssagem}} </strong>
			</div>
		</div>
	</p>
</div>