<div>
 <div close="cancel()" class="panel panel-primary">
	<div class="panel-heading">
	    	<h3 class="panel-title">Encerrar a temporada: {{temporada.description}}</h3>
	</div>
	<div class="panel-body">		
		<form class="form-inline" name="formEncerrarTemporada">
			<label for="data">Informe a data fim</label>
			<input type="text" ng-required="true" class="form-control inputData"  ng-required="true"  ng-model="temporada.end" ui-mask="99/99/9999">
		</div>
		
		<div class = "row" style="padding: auto;">			
			<div class="col-sm-10 col-md-offset-1">
				<p>
				<button ng-disabled="formEncerrarTemporada.$invalid" class="btn btn-primary btn-block" ng-click="fecharSeason(temporada.id, temporada.end)">Encerrar</button>				
				</p>
			</div>									
		</div>
	</div>
 </div>
</div>