	<div close="cancel()" class="panel panel-primary">    
		<div class="panel-heading">
    	<h3 class="panel-title">Resumo financeiro</h3>
  		</div>
  		<div class="panel-body">
    		<table class="table">
            Nome: {{nome()}}
    				<thead>
    			    <th>Valor Total mensalistas	</th>
    				<th>Valor Total diaristas	</th>
    				<th>Total					</th>
    				</thead>
					<tr>
						<td>R$200,00</td>
						<td>R$200,00</td>
						<td>R$400,00</td>
					</tr> 
    		</table>
  		</div>
	</div>